<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <!-- Indicates that the server.js file is a node.js site to be handled by the iisnode module -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Do not interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>

        <!-- First, try matching as a file or folder on disk -->
        <rule name="StaticContent">
          <action type="Rewrite" url="public{PATH_INFO}" />
        </rule>

        <!-- All other URLs are mapped to the node.js site entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- You can see the logs generated here, but note that by default IIS will only log to the file
    system if there is an error. For more information, check http://blogs.msdn.com/b/windowsazure/archive/2013/11/14/the-good-the-bad-and-the-ugly-managing-node-js-dependencies-in-iis-on-azure.aspx
    -->
    <logging>
      <failedRequestLogging enabled="false" />
    </logging>

    <!-- Remote debugging enabled only when running locally with <deployment local="true"> -->
    <iisnode watchedFiles="*.js;node_modules\*;routes\*.js;views\*.jade" node_env="production" nodeProcessCommandLine="&quot;C:\Program Files\nodejs\node.exe&quot;" />
  </system.webServer>
</configuration>
